<!-- views/signup.ejs -->
<!doctype html>
<html>
  <head>
    <title>나누다 톡!</title>
    <link rel="stylesheet" href="/css/bootstrap.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->

  </head>
<body>
  <!-- nav start -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">나누다 톡!</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
        </ul>
          <!-- <form class="navbar-form navbar-left">
          <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form> -->
      <ul class="nav navbar-nav navbar-right">
          <li><a href="/login">또는 로그인</a></li>
      </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

<!-- nav end -->
<div class="container">

<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span>회원가입하기</h1>

    <!-- show any messages that come back with authentication -->
    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <!-- LOGIN FORM -->
    <form action="/signup" method="post">
        <div class="form-group">
          <label>전자메일 주소</label>
          <input type="text" class="form-control" name="email">
        </div>
        <div class="form-group">
          <label>별명 정하기</label>
          <input type="text" class="form-control" name="nickname">
        </div>
        <div class="fomr-group">
          <label>선생님이신가요? 학생이신가요?</label><br>
          <input type="radio" name="isTeacher" value="true">저는 선생님입니다.<br>
          <input type="radio" name="isTeacher" value="false">저는 학생입니다.<br>
        </div><br>
        <div class="form-group">
          <label>비밀번호를 등록해주세요</label>
          <input type="password" class="form-control" name="password">
        </div>


        <button type="submit" class="btn btn-warning btn-lg">회원가입하기</button>
    </form>

    <hr>

    <p>이미 회원 가입을 하셨다면 <a href="/login">로그인</a> 하세요</p>


</div>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/js/bootstrap.min.js"></script>
</body>
</html>
